<h1 class="mb5">Categories</h1>
<div class="container">
    <div class="row">
        <% categories.forEach(categorie => { %>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <a href="/blog?categorie=<%= categorie.slug %>" class="categorie-link text-white">
                        <img src="https://source.unsplash.com/500x500?<%= categorie.name %>" class="card-img" alt="<%= categorie.name %>">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <div class="overlay"></div>
                            <h5 class="card-title"><%= categorie.name %></h5>
                        </div>
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
</div>